
.highlight {
  font-size: 12px;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgb(238, 238, 238)
  border-radius: 3px;
}
  
.highlight-original {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family: Monaco;
  font-size: 14px;
  line-height: 20px;
}


